body {
  font-family: Helvetica;
  text-align: center;
}

.heading {
  color: white;
  background-image: url("../images/the-flatiron-building.jpg")
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
